<?xml version="1.0"?>
<packages>
  <package id="ChocolateyGUI" />
  <package id="fiddler4" />
  <package id="git" />
  <package id="git.install" />
  <package id="keepass" />
  <package id="keepass-langfiles" />
  <package id="keepass.install" />
  <package id="linqpad4" />
  <package id="mery" version="2.4.6.5927" />
  <package id="PowerShell" />
  <package id="winscp.install" />
  <package id="linkshellextension" />
</packages>
